* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-background:#fbd1b7;
  --input-background:#000232;
  --button-color:#b689b0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(135deg, #0c40a0, #cfdef3); */
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}
